//医学统计样式

.showBtns {
  background: rgba(28, 178, 255, 1) !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  font-family: Microsoft YaHei !important;
  font-weight: 400 !important;
  color: rgba(255, 255, 255, 1) !important;
}
.iconbuzhou-icon {
  width: 4px;
  height: 9px;
  font-size: 22px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #1CA5FF;
  line-height: 24px;
  margin-right: 5px;
}

.iconbuzhou-xian1 {
  width: 4px;
  height: 9px;
  font-size: 22px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #1CA5FF;
  line-height: 24px;
  margin-right: 5px;
}

.search {
  .left {
    width: 280px;
    margin: 10px 30px 10px;
  }

  .right {
    .el-input {
      width: 280px;
      margin: 10px 30px 10px;
    }

    .el-button {
      background: rgba(28, 178, 255, 1);
      border-radius: 0px 4px 3px 0px;
    }

    .iconsousuo {
      color: white;
      background: rgba(28, 173, 255, 1);
    }
  }

  .storageList {
    margin-top: 20px;
    padding-bottom: 20px;

    .list {
      padding-top: 10px;
      margin-left: 30px;

      .el-table {
        border-top: 1px solid rgba(0, 160, 233, 1);
        margin: 10px 0;
      }
    }
  }
}

.fenxi {
  margin-top: 20px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 10px 0px rgba(204, 204, 204, 0.75);
  border-radius: 4px 4px 4px 4px;

  .up {
    height: 40px;
    background: rgba(250, 250, 250, 1);
    box-shadow: 0px 1px 0px 0px rgba(224, 224, 224, 0.75);
    border-radius: 4px 0px 0px 0px;
    line-height: 40px;
  }

  .down {
    .choose {
      display: flex;
      flex-flow: row;
      margin: 20px 10px;

      div {
        margin: auto 10px;
      }
    }

    .echarts {
      width: 1571px;
      height: 680px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(229, 229, 229, 1);
      border-radius: 4px;
      margin: 10px auto;

      .btns {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        padding-bottom: 20px;
        width: 1571px;
        border-bottom: 1px solid rgba(229, 229, 229, 1);

        .el-button {
          background: rgba(250, 250, 250, 1);
          border: 1px solid rgba(229, 229, 229, 1);
          border-radius: 4px;
          font-size: 14px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
        }

        /* .el-button:focus {
          background: rgba(28, 178, 255, 1);
          border-radius: 4px;
          font-size: 14px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
        } */
      }

      #tu {
        width: 1571px;
        height: 580px;
        margin: 10px auto;
      }
    }
  }
}